
.clearfix: after,
.clearfix: before {
  content: " ";
  display: block;
  clear: both;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.wrapper2 {
  width: 100%;
  background-color: #f5f7fa;
  overflow: hidden;
}

.wrapper__center { 
  width: 1170px;
  margin: 0 auto; 
}

.header {
  background-color: #f5f7fa;
  width: 1170px;
  display: flex;
  text-align: center;
  padding: 0px 50px 0px 0px;
}

.mail {
  font-size: 12px;
  float: left;
  text-align: center;
  line-height: 36px;
}

.mail_icon {
  padding-right: 10px;
}

.tel { 
  font-size: 12px;
  float: left;
  text-align: center;
  line-height: 36px;
}

.tel_icon {
  padding-right: 10px;
  margin-left: 26px;
}

.header__img {
  height: 100%;
  display: inline-block;
  position: relative;
  left: 730px;
  overflow: hidden;
  width: 30px;
  background-image: url("../img/header/icon-facebook-off.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__img2 {
  height: 100%;
  display: inline-block;
  position: relative;
  left: 730px;
  overflow: hidden;
  width: 30px;
  background-image: url("../img/header/icon-google-off.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__img3 {
  height: 100%;
  display: inline-block;
  position: relative;
  left: 730px;
  overflow: hidden;
  width: 30px;
  background-image: url("../img/header/icon-twitter-off.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__img4 {
  height: 100%;
  display: inline-block;
  position: relative;
  left: 730px;
  overflow: hidden;
  width: 30px;
  background-image: url("../img/header/icon-pinterest-off.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__img5 {
  height: 100%;
  display: inline-block;
  position: relative;
  left: 730px;
  overflow: hidden;
  width: 30px;
  background-image: url("../img/header/icon-behance-off.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__img6 {
  height: 100%;
  display: inline-block;
  position: relative;
  left: 730px;
  overflow: hidden;
  width: 30px;
  background-image: url("../img/header/icon-dribbble-off.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #4668b3;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.header__img:hover .header__mask {
  opacity: 0.6;
  background-image: url("../img/header/icon-facebook-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__img2:hover .header__mask {
  opacity: 0.6;
  background-image: url("../img/header/icon-google-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__img3:hover .header__mask {
  opacity: 0.6;
  background-image: url("../img/header/icon-twitter-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__img4:hover .header__mask {
  opacity: 0.6;
  background-image: url("../img/header/icon-pinterest-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__img5:hover .header__mask {
  opacity: 0.6;
  background-image: url("../img/header/icon-behance-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__img6:hover .header__mask {
  opacity: 0.6;
  background-image: url("../img/header/icon-dribbble-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__nav {
  width: 1170px;
  margin: 30px 50px 30px 0px;
  background-color: #FFF;
}

.reen__logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 85px 30px 0px;
}


.header__nav li {
  padding-top: 15px;
  float: left;
  display: block;
  margin-right: 44px;
  font-size: 15px;
  color: #506a85;
  text-align: center;
}

.reen__logo {
  position: relative;
  float: left;
}

.wrapper3 {
  width: 100%;
  text-align: center;
  background-image: url(../img/main/keyvisual.jpg);
  position: relative;
  overflow: hidden;
  background-size: contain;
}

.made__for__designers {
  color: #FFF;
  font-size: 78px;
  text-align: center;
  padding: 300px 0px 20px 0px;
}

.made__for__designers__sub {
  text-align: center;
  color: #a3b1bf;
  font-size: 24px;
  line-height: 150%;
}

.made__for__designers__sub span:before {
  content:"\A";
  white-space: pre;
}

.get__standard__now {
  padding: 50px 0px 300px;
}

.btn {
  font-size: 18px;
  border: 1px solid #00bc9c;
  border-radius: 5px;
  background-color: #00bc9c;
  box-shadow: 2px 5px #00a085;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  padding: 15px 40px;
  display: block;
  text-decoration: none;
  margin: 0 auto;
}

.btn:active {
  box-shadow: 0 1px 0 rgba(136,136,136,1);
  margin: 12px auto 8px;
}

.wrapper4 {
  width: 100%;
  background-color: #FFF;
}

.Beautiful {
  width: 1170px;
}

.Beautiful__clean {
  font-size: 44px;
  color: #506a85;
  padding: 120px 0px 30px 0px;
  text-align: center;
}

.Beautiful__clean__sub { 
  font-size: 22px;
  color: #506a85;
  line-height: 150%;
  text-align: center;
}

.wrapper5 {
  width: 100%;
  background-color: #FFF;
  overflow: hidden;
  padding-top: 120px;
}

.content {
  float: left;
}

.content__img {
  float: left;
  margin: 0px 30px 30px 0px;
}

.content__box {
  width: 300px;
  overflow: hidden;
}

.content__txt {
  color: #506a85;
  font-size: 26px;
}

.content__txt__sub {
  color: #506a85;
  font-size: 16px;
  padding: 20px 0px 120px 0px;
  line-height: 26px;
}

.wrapper6 {
  width: 100%;
  background-color: #f5f7fa;
  overflow: hidden;
}

.Check__out {
  font-size: 44px;
  color: #506a85;
  padding: 120px 0px 30px 0px;
  text-align: center;
}

.Check__out__sub { 
  font-size: 22px;
  color: #506a85;
  line-height: 150%;
  text-align: center;
  padding-bottom: 50px;
}

.wrapper7 {
  float: left;
  margin-right: 30px;
}

.Grand__hotel {
  float: left;
  position: relative;
  overflow: hidden;
  width: 555px;
}

.Grand__hotel__sub {
  width: 555px;
  background-color: #FFF;
}

.Grand__hotel__txt {
  text-align: center;
  font-size: 20px;
  color: #506a85;
  position: relative;
  top: 30px;
}

.Grand__hotel__txt2 {
  text-align: center;
  font-size: 14px;
  color: #506a85;
  padding: 40px;
}

.hotel__mask__txt {
  text-align: center;
  color: #FFF;
  line-height: 392px;
}

.Check__out__img {
  background-color: #FFF;
}

.Check__out__table {
  margin: 0 auto;
  z-index: 1;
}

.work__main {
  background-color: #FFF;
  text-align: center;
  color: #506a85;
  font-size: 20px;
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  padding: 30px 0px 0px 0px;
}

.imgs {
  width: 1170px;
  background-color: #f5f7fa;
}

.Check__out__imgs {
  float: left;
  position: relative;
  overflow: hidden;
  width: 270px;
  margin: 80px 20px 80px 0px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #00bc9c;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.wrapper7:hover .Grand__hotel__txt {
  color: #00bc9c;
}

.Check__out__imgs:hover .mask {
  opacity: 0.9;
}

.Grand__hotel:hover .mask {
  opacity: 0.9;
}


.mask__txt {
  text-align: center;
  color: #FFF;
  margin-top: 70px;
}

.mask__txt2 {
  text-align: center;
  color: #FFF;
  margin-top: 20px;
}

.wrapper8 {
  background-color: #FFF;
  text-align: center;
  padding: 100px;
}

.Want__to {
  font-size: 44px;
  color: #506a85;
  text-align: center;
  padding: 0px 0px 30px 0px;
}

.Want__to__sub {
  font-size: 22px;
  color: #506a85;
  text-align: center;
  line-height: 150%;
}

.Want__to__sub2 {
  font-size: 22px;
  color: #506a85;
  text-align: center;
  line-height: 150%;
  padding-bottom: 50px;
}

.btn2 {
  font-size: 18px;
  border: 1px solid #00bc9c;
  border-radius: 5px;
  background-color: #00bc9c;
  box-shadow: 2px 5px #00a085;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  margin: 10px auto;
}

.btn2:active {
  box-shadow: 0 1px 0 rgba(136,136,136,1);
  margin: 12px auto 8px;
}

.footer {
  width: 100%;
  background-color: #354859;
  overflow: hidden;
}


.who__we__are {
  width: 1170px;
  background-color: #354859;
  padding: 75px 0px 75px 0px;
  margin: 0 auto;
  overflow: hidden;
}

.footer__content {
  float: left;
  width: 250px;
  background-color: #354859;
  margin: 0px 40px 0px 0px;
  box-sizing: border-box;
}

.footer__content__img {
  float: left;
  width: 260px;
  background-color: #354859;
  margin: 0px 40px 0px 0px;
  box-sizing: border-box;
}

.footer__img {
  float: left;
  position: relative;
  overflow: hidden;
  margin-right: 2px;
}

.footer__content:last-child {
  margin: 0px;
}

.who__we__are__txt {
  padding-bottom: 30px;
  color: #FFF;
  font-size: 16px;
}

.who__we__are__txt__sub {
  padding: 20px 0px 20px 0px;
  color: #506a85;
  font-size: 14px;
  word-break: break-all;
  line-height: 18px;
}

.More__about {
  padding: 0px 0px 20px 0px;
  color: #506a85;
  font-size: 14px;
}

.Connecus {
  padding: 20px 0px 0px 0px;
  color: #506a85;
  font-size: 14px;
}

.footer__mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #00bc9c;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.footer__mask__txt {
  line-height: 87px;
  color: #FFF;
  text-align: center;
}

.footer__img:hover .footer__mask {
  opacity: 0.9;
}

.get__in__touch {
  padding-top: 10px;
  color: #FFF;
  font-size: 14px;
}

.footer__info {
  color: #506a85;
  padding: 10px 0px 0px 0px;
}

.info__imgs {
  padding-right: 10px;
}


.txt__area {
  border: 0px;
  width: 200px;
  background: silver;
  border-radius: 5px;
  padding: 8px;
}

.btn3 {
  font-size: 10px;
  border: 1px solid #00bc9c;
  border-radius: 5px;
  background-color: #00bc9c;
  box-shadow: 2px 3px #00a085;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  position: relative;
  bottom: 28px;
  left: 144px;
}

.btn3:active {
  box-shadow: 0 1px 0 rgba(136,136,136,1);
  margin: 6px auto 4px;
}

.footer__last {
  width: 100%;
  background-color: #2e3d4c;
}

.label {
  width: 100%;
  background-color: #2e3d4c;
}

.sign {
  padding: 30px 0px 15px 0px;
  font-size: 12px;
  color: #506a85;
}

.label__nav {
  overflow: hidden;
  position: relative;
  bottom: 25px;
}

.label__nav > li {
  float: right;
  font-size: 12px;
  color: #506a85;
  list-style-type: disc;
  margin: 0px 10px 0px 10px;
}

.label__nav li:last-child {
  list-style-type: none;
}

