.clearfix::after,
.clearfix::before {
  content: " ";
  display: block;
  clear: both;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.grey {
  background-color: #f5f7fa;
}

.white {
  background-color: #fff;
}

.naiby {
  background-color: #2e3d4c;
}

.container {
  width: 100%;
  overflow: hidden;
}

.center { 
  width: 1170px;
  margin: 0 auto; 
}

.header {
  width: 1170px;
  display: flex;
  text-align: center;
}

.icon {
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  font-size: 12px;
  line-height: 36px;
}

.mail {
  background-image: url("../img/header/icon-mail-off.png");
  margin-right: 40px;
}

.tel {
  background-image: url("../img/header/icon-tel-off.png");
  margin-right: 35px;
}

.mail:hover {
  background-image: url("../img/header/icon-mail-on.png");
  background-repeat: no-repeat;
  color: #00bc9c;
}

.tel:hover {
  background-image: url("../img/header/icon-tel-on.png");
  background-repeat: no-repeat;
  color: #00bc9c;
}

.header__img {
  height: 100%;
  display: inline-block;
  position: relative;
  left: 700px;
  overflow: hidden;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.is__facebook {
  background-image: url("../img/header/icon-facebook-off.png");
}

.is__google {
  background-image: url("../img/header/icon-google-off.png");
}

.is__twitter {
  background-image: url("../img/header/icon-twitter-off.png");
}

.is__pinterest {
  background-image: url("../img/header/icon-pinterest-off.png");
}

.is__behance {
  background-image: url("../img/header/icon-behance-off.png");
}

.is__dribbble {
  background-image: url("../img/header/icon-dribbble-off.png");
}

.header__mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #4668b3;
  opacity: 0;
}

.mask__google {
  background: #de5745;
}

.mask__twitter {
  background: #2fbbeb;
}

.mask__pinterest {
  background: #d94348;
}

.mask__behance {
  background: #3079ff;
}

.mask__dribbble {
  background: #eb6397;
}

.is__facebook:hover .header__mask {
  opacity: 1;
  background-image: url("../img/header/icon-facebook-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.is__google:hover .header__mask {
  opacity: 1;
  background-image: url("../img/header/icon-google-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.is__twitter:hover .header__mask {
  opacity: 1;
  background-image: url("../img/header/icon-twitter-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.is__pinterest:hover .header__mask {
  opacity: 1;
  background-image: url("../img/header/icon-pinterest-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.is__behance:hover .header__mask {
  opacity: 1;
  background-image: url("../img/header/icon-behance-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.is__dribbble:hover .header__mask {
  opacity: 1;
  background-image: url("../img/header/icon-dribbble-on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__nav {
  width: 1170px;
  padding: 30px 50px 0 0;
}

.reen__logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 85px 30px 0;
}

.header__nav li {
  padding-top: 15px;
  float: left;
  display: block;
  margin-right: 44px;
  font-size: 15px;
  color: #506a85;
  text-align: center;
}

.nav__txt:hover {
  color: #00bc9c;
}

.reen__logo {
  float: left;
}

.keyvisual {
  text-align: center;
  background-image: url(../img/main/keyvisual.jpg);
  background-size: contain;
}

.made__for__designers {
  color: #fff;
  font-size: 78px;
  text-align: center;
  padding: 300px 0 20px;
}

.made__for__designers__sub {
  text-align: center;
  color: #a3b1bf;
  font-size: 24px;
  line-height: 150%;
}

.made__for__designers__sub span:before {
  content:"\A";
  white-space: pre;
}

.get__standard__now {
  padding: 50px 0 350px;
  position: relative;
}

.btn {
  font-size: 18px;
  border: 1px solid #00bc9c;
  border-radius: 5px;
  background-color: #00bc9c;
  box-shadow: 2px 5px #00a085;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 15px 40px;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  right: 39%;
}

.btn:active {
  box-shadow: 0 1px 0 rgba(136,136,136,1);
  margin: 1px auto 1px;
}

.Beautiful__clean {
  font-size: 44px;
  color: #506a85;
  padding: 120px 0 30px;
  text-align: center;
}

.Beautiful__clean__sub { 
  font-size: 22px;
  color: #506a85;
  line-height: 150%;
  text-align: center;
}

.content {
  padding: 70px 0 0;
  float: left;
}

.content__img {
  float: left;
  margin: 0 30px 30px 0;
}

.content__box {
  width: 300px;
  overflow: hidden;
}

.content__txt {
  color: #506a85;
  font-size: 26px;
}

.content__txt__sub {
  color: #506a85;
  font-size: 16px;
  padding: 20px 0 120px;
  line-height: 26px;
}

.Check__out {
  font-size: 44px;
  color: #506a85;
  padding: 120px 0 30px;
  text-align: center;
}

.Check__out__sub { 
  font-size: 22px;
  color: #506a85;
  line-height: 150%;
  text-align: center;
  padding-bottom: 50px;
}

.Grand__hotel__box {
  float: left;
  margin-right: 30px;
}

.Grand__hotel {
  float: left;
  position: relative;
  overflow: hidden;
  width: 555px;
}

.Grand__hotel__sub {
  width: 555px;
  background-color: #fff;
}

.Grand__hotel__txt {
  text-align: center;
  font-size: 20px;
  color: #506a85;
  position: relative;
  top: 30px;
}

.Grand__hotel__txt2 {
  text-align: center;
  font-size: 14px;
  color: #506a85;
  padding: 40px;
}

.hotel__mask__txt {
  text-align: center;
  color: #fff;
  line-height: 392px;
}

.work__main {
  background-color: #fff;
  text-align: center;
  color: #506a85;
  font-size: 20px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 30px 0 0;
}

.Check__out__imgs {
  float: left;
  position: relative;
  overflow: hidden;
  width: 270px;
  margin: 80px 20px 80px 0;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #00bc9c;
  transition: .3s;
  opacity: 0;
}

.Grand__hotel__box:hover .mask{
  opacity: .9;
}

.Grand__hotel__box:hover .Grand__hotel__txt{
  color: #00bc9c;
}

.Check__out__imgs:hover .mask {
  opacity: .9;
}

.mask__txt {
  text-align: center;
  color: #fff;
  margin: 70px 0 -60px;
}

.Want__to {
  font-size: 44px;
  color: #506a85;
  text-align: center;
  padding: 100px 0 30px;
}

.Want__to__sub {
  font-size: 22px;
  color: #506a85;
  text-align: center;
  line-height: 150%;
}

.sub2 {
  padding-bottom: 50px;
}

.get {
  padding-bottom: 200px;
  position: relative;
}

.footer {
  width: 100%;
  background-color: #354859;
  overflow: hidden;
}

.who__we__are {
  padding: 75px 0;
}

.footer__content {
  float: left;
  width: 250px;
  background-color: #354859;
  margin-right:40px;
}

.footer__content__img {
  float: left;
  width: 260px;
  background-color: #354859;
  margin-right: 40px;
  box-sizing: border-box;
}

.footer__img {
  float: left;
  position: relative;
  overflow: hidden;
  margin-right: 2px;
}

.footer__content:last-child {
  margin: 0;
}

.who__we__are__txt {
  padding-bottom: 30px;
  color: #fff;
  font-size: 16px;
}

.who__we__are__txt__sub {
  padding: 20px 0;
  color: #506a85;
  font-size: 14px;
  word-break: break-all;
  line-height: 18px;
}

.More__about {
  padding: 0 0 20px;
  color: #506a85;
  font-size: 14px;
}

.Connecus {
  padding: 20px 0;
  color: #506a85;
  font-size: 14px;
}

.footer__mask__txt {
  line-height: 87px;
  color: #fff;
  text-align: center;
}

.footer__img:hover .mask {
  opacity: .9;
}

.get__in__touch {
  padding-top: 10px;
  color: #fff;
  font-size: 14px;
}

.footer__info {
  color: #506a85;
  padding: 10px 0;
}

.footer__icon {
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  font-size: 14px;
  color: #506a85;
  text-indent: 20px;
  margin-bottom: 5px;
}

.footer__address {
  background-image: url("../img/footer/icon-address-off.png");
  background-repeat: no-repeat;
}

.footer__tel {
  background-image: url("../img/footer/icon-tel-off.png");
  background-repeat: no-repeat;
}

.footer__mail {
  background-image: url("../img/footer/icon-mail-off.png");
  background-repeat: no-repeat;
}

.footer__address:hover {
  background-image: url("../img/footer/icon-address-on.png");
  background-repeat: no-repeat;
  color: #00bc9c;
}

.footer__mail:hover {
  background-image: url("../img/footer/icon-mail-on.png");
  background-repeat: no-repeat;
  color: #00bc9c;
}

.footer__tel:hover {
  background-image: url("../img/footer/icon-tel-on.png");
  background-repeat: no-repeat;
  color: #00bc9c;
}

.txt__area {
  border: 0px;
  width: 200px;
  background: silver;
  border-radius: 5px;
  padding: 8px;
}

form {
  position: relative;
}

.btn3 {
  font-size: 10px;
  border: 1px solid #00bc9c;
  border-radius: 5px;
  background-color: #00bc9c;
  box-shadow: 2px 3px #00a085;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  position: absolute;
  right: 15%;
  top: 2%;
}

.btn3:active {
  box-shadow: 0 1px 0 rgba(136,136,136,1);
  margin: 1px auto 4px;
}

.sign {
  padding: 30px 0 15px;
  font-size: 12px;
  color: #506a85;
}

.label__nav {
  overflow: hidden;
  position: relative;
  bottom: 25px;
}

.label__nav > li {
  float: right;
  font-size: 12px;
  color: #506a85;
  list-style-type: disc;
  margin: 0 10px;
}

.label__nav li:last-child {
  list-style-type: none;
}